.navbar, .navbar ul.dropdown-menu {
    background-color: #9b59b6;
}
.navbar .nav-link.active {
    color: #ccff00;
    background-color: #8b44a5;
}
.navbar a {
    color: #ccff00;
    white-space: nowrap;
}
.table-program td:nth-child(1) {
    width: 120px;
}
.table-deadlines td:nth-child(2) {
    width: 150px;
}
.table-deadlines-long td:nth-child(2) {
    width: 250px;
}
