/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


/* Custom​izations for DSA LREC 2014 Tutorial Website */

.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.bg-heading {
  color: #000;
  /* background-color: #e2cede; */
  background-color: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* border: 1px solid #000; */
  padding: 5px;
}

/*
.rotated{
    z-index:200;
    position:fixed;
    bottom:45px;
    right:-80px;
    z-index:999;
    background-color:#f75c4c;
    border-color:#fc942f;
    border-top-width:2px;
    border-bottom-width:2px;
    display:inline-block;
    color:yellow;
    padding:7px;
    font-size:1.15em;
    width:300px;
    text-align:center;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    transition:border-color 0.2s, background-color 0.2s
}
*/

.rotated{
    z-index:200;
    position:fixed;
    top:50px;
    right:480px;
    z-index:1999;
    /* background-color:#f75c4c; */
    background-color:green;
    border-color:#fc942f;
    border-top-width:2px;
    border-bottom-width:2px;
    display:inline-block;
    color:yellow;
    padding:3px;
    font-size:1.15em;
    width:200px;
    text-align:center;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(15deg);
    transition:border-color 0.2s, background-color 0.2s
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}


.rotated > a:focus {
    color:yellow;
    text-decoration:none;
    outline:0;
   }

.rotated > a:visited {
    color:yellow;
    text-decoration:none;
    outline:0;
   }

.rotated > a:active {
    color:yellow;
    text-decoration:none;
    outline:0;
   }

.rotated > a:hover {
    /* color:#EEEEEE; */
    color:orange;
    text-decoration:none;
   }


