<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Tristan Naumann">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <style>
  </style>

  <title>Clinical NLP Workshop 2023</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/clinical-nlp2016.css" rel="stylesheet">
  <link href="/css/toolbar.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Clinical NLP Workshop</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        {% assign year = page.dir | replace: "/", "" %}
        <li class="dropdown{% if page.title == 'about' %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ year }} <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% for year_data in site.data %}
              {% assign nav_year = year_data[0] %}
              <li><a href="/{{ nav_year }}">{{ nav_year }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li {% if page.title == "call-for-papers" %}class="active"{% endif %}><a href="call-for-papers.html">Call for Papers</a></li>
        <li {% if page.title == "submission" %}class="active"{% endif %}><a href="submission.html">Submission</a></li>
        <li {% if page.title == "program" %}class="active"{% endif %}><a href="program.html">Program</a></li>
        <li {% if page.title == 'sponsors' %}class="active"{% endif %}><a href="sponsors.html">Sponsors</a></li>
        <li {% if page.title == 'committee' %}class="active"{% endif %}><a href="committee.html">Commitee</a></li>
        <li {% if page.title == 'resources' %}class="active"{% endif %}><a href="resources.html">Resources</a></li>
      </ul>
    </div>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="jumbotron">
    <h2>The 5th Clinical Natural Language Processing Workshop</h2>
    <h4>At ACL 2023. 14 Jul 2023, Toronto, Canada.</h4>
    <img src="/images/logo1.jpg" class="img-square img-responsive" align=right width="30%">
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">

        {{ content }}

      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; ClinicalNLP 2023</p>
    </footer>

  </div> <!-- /container -->



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript">$("table").addClass("table");</script>

  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
    var sc_project = 11063637;
    var sc_invisible = 1;
    var sc_security = "cc3ecb24";
    var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
      scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
  </script>
  <noscript>
    <div class="statcounter"><a title="web stats" href="http://statcounter.com/" target="_blank"><img
          class="statcounter" src="//c.statcounter.com/11063637/0/cc3ecb24/1/" alt="web
stats"></a></div>
  </noscript>
  <!-- End of StatCounter Code for Default Guide -->

</body>

</html>
